<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tip_1</key>
	<string>🙏</string>
	<key>Tip_2</key>
	<string>💝</string>
	<key>Tip_3</key>
	<string>🌟</string>
	<key>Tip_4</key>
	<string>💎</string>
</dict>
</plist>
